.card {
    background-color: #c4c4c4a4;
}
.container {
    font-size: 20px;
    border: 1px solid lightgrey;
    .header {
        display: flex;
        flex-direction: column;
        border: transparent;
        border-radius: 10px;
        span { 
            height: 45px;
            line-height: 20px;
            overflow: hidden;
            padding-top: 10px;
            padding-left: 80px;
            text-overflow: ellipsis;
            word-wrap: break-word;
            background-color: rgba(196, 196, 196, 0.6);
        }
    }
    .description {
        display: flex;
        justify-content: center;
    }
}