.boardWrapper {
    width: 95%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    border: .25px solid grey;
    border-radius: 10px 10px 0px 0px;
    gap: 100px;
    padding: 20px;
    padding-bottom: 0;
    margin-left: 40px;
}