.boardWrapper {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px 10px 0px 0px;
    gap: 70px;
    padding: 20px;
    padding-bottom: 0;
    margin-left: 40px;
}