@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.wrapper {
    position: absolute;
    background-color: #FFEADD;
    top: 350px;
    left: 850px;
    border-radius: 25px;
    border: 1px solid #CACACA;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: 330px;

        input {
            border-radius: 15px;
            font-family: 'Montserrat';
            font-size: 30px;
            border: 1px solid #CACACA;
            padding: 5px;
        }
        fieldset {
            display: flex;
            flex-direction: row;
            padding: 0;
            border: none;
            justify-content: space-around;
        }
        input[type="submit"] {
            border-radius: 10px;
            cursor: pointer;
            width: 150px;
            border: 1px solid #CACACA;
            font-family: 'Montserrat';
            font-size: 20px;
            padding: 10px;
        }
        input[type="button"] {
            border-radius: 10px;
            cursor: pointer;
            width: 150px;
            border: 1px solid #CACACA;
            font-family: 'Montserrat';
            font-size: 20px;
            padding: 10px;
        }
    }
}