.rootWrapper {
    background-color: #FEFEFB;
    width: 100%;
    min-height: 100%;
    h1 {
        color: #4E5B57;
        font-size: 50px;
        margin-bottom: 40px;
    }
    .contentWrapper {
        display: grid;
        height: 100%;
    }
}