@font-face {
    font-family: 'Montserrat';
    src: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap';
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    
    form {
        input[type="image"] {
            width: 30px;
            margin: 2px;
        }
        input[type="text"] {
            border-radius: 45px;
            font-family: 'Montserrat';
            border: 1px solid #CACACA;
            padding: 5px;
            padding-left: 10px;
            margin-left: 25px;
        }
        input[type="text"]::placeholder {
            font-size: 30px;
        }
    }
}