

.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    min-height: 600px;
    height: max-content;
    .courseName {
        display: flex;
        width: min-content;
        flex-direction: column;
        input {
            border: none;
            border-bottom: 1px solid #CACACA;
            font-family: 'Montserrat';
        }
    }
    button {
        cursor: pointer;
        align-self: flex-end;
        width: max-content;
        padding: 10px;
        background-color: #FED3BB;
        border: none;
        font-family: 'Montserrat';
        font-size: 25px;
        border-radius: 15px;
    }
}