@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body > #root {
    height: -webkit-fill-available;
}

html, body {
    height: -webkit-fill-available;
    background-color: #FFFFFF;
    font-size: 33px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}
