.form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 300px;
    height: 50%;
    input {
        font-size: 30px;
        border-radius: 3px;
        border: 2px solid rgb(126, 126, 126);
    }
    input[type="submit"] {
        background-color: transparent;
        cursor: pointer;
    }
}